# Python
__pycache__/
*.py[cod]
*.so

# Packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
venv/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
*~

# Pilfer working files
vaultedFileList.json
.vault/

# Publishing
.pypirc 
